<div class="row">
    <div class="column">
        <div class="ui segment">
            <div class="ui negative icon message" ng-show="vm.error">
                <i class="warning sign icon"></i>
                <div class="content">
                    <div class="header">
                        {{vm.error}}
                    </div>
                </div>
            </div>
            <div class="ui form" ng-submit="vm.addDomain()" ng-method="post">
                <div class="field">
                    <label>Name</label>
                    <div class="ui corner labeled input">
                        <input name="name" type="text" ng-model="vm.name" placeholder="display name">
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <input name="description" type="text" ng-model="vm.description" placeholder="description of domain">
                </div>
                <div class="field">
                    <label>Prefix</label>
                    <div class="ui corner labeled input">
                        <input name="prefix" type="text" ng-model="vm.prefix" placeholder="prefix of domain (i.e. your username); will become <prefix>.shpd.io">
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Endpoint</label>
                    <div class="ui corner labeled input">
                        <input name="endpoint" type="text" ng-model="vm.endpoint" placeholder="{{vm.detectedIP}}">
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>
                <div class="ui submit button green">Create</div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    $('.ui.form')
        .form({
            name: {
                identifier : 'name',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a name'
                    }
                ]
            },
            prefix: {
                identifier : 'prefix',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a domain prefix'
                    }
                ]
            },
            endpoint: {
                identifier : 'endpoint',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter an endpoint'
                    }
                ]
            }
        });

    $('.ui.checkbox').checkbox();
});
</script>
