#logo {
    font-family: 'Poiret One', sans-serif;
    background-color: rgba(0, 68, 91, 1) !important;
    font-size: 20px;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    text-transform: none;
}

.ui.fixed.inverted.main.menu {
    text-transform: uppercase;
}

.hidden {
    display: none;
    visability:hidden;
}
.info {
    font-size: 36px;
    margin: 10px 0 25px 0;
    color: #a1a1a1;
}
